DATABASE_URL="postgresql://user:password@localhost:port/db_name"
SECRET_KEY="change_me"
REFRESH_SECRET_KEY="change_me_too"
PORT=port_number
CLIENT_URL="http://localhost:5173"

NODE_MAILER_USERNAME="change_me"
NODE_MAILER_PASSWORD="change_me"
NODE_MAILER_HOST="sandbox.smtp.mailtrap.io"
NODE_MAILER_PORT=2525
NODE_MAILER_AUTH="login"
